@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --mainColor: slateblue;
  --secondaryColor: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: black;
}

.main {
  height: 100vh;
  background-image: linear-gradient(rgba(1, 1, 2, 0.3), rgba( 0, 0, 0.9)),
    url(./image/cover.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 25px;
}
nav ul li {
  list-style-type: none;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: var(--secondaryColor);
  font-size: 1rem;
  position: relative;
  font-weight: bold;
}
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--secondaryColor);
  height: 3px;
  width: 0;
  bottom: -10px;
  transition: 0.5s;
  left: 0;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: var(--mainColor);
}
.home {
  color: var(--mainColor);
}
.logo {
  width: 150px;
  height: 100px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.content {
  width: 70%;
  margin: 40px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content .header span {
  color: var(--mainColor);
  font-family: Pacifico;
  font-size: 5rem;
  font-weight: lighter;
}

.content .header {
  margin-bottom: 20px;
  color: var(--secondaryColor);
  font-size: 4rem;
  font-family: Pacifico;
  font-weight: lighter;
}
.content p {
  color: var(--secondaryColor);
  width: 80%;
  margin: 40px auto;
  font-size: 1.4rem;
}
.subscribe {
  width: 70%;
  margin: 10px auto 10px auto;
  position: relative;
}
.input {
  height: 50px;
  border-radius: 20px;
  width: 100%;
  font-size: 1.4rem;
  padding-left: 10px;
  border: 2px solid var(--mainColor);
}
.input[type="Email"]:focus {
  border: 2px solid #f0094d;
}
.input::placeholder {
  font-size: 1.3rem;
  padding-left: 5px;
}
.subscribe button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  position: absolute;
  right: 7px;
  top: 6px;
  border: none;
  font-weight: 300;
}
.subscribe button:hover {
  color: var(--secondaryColor);
}

/* TEAM SECTION*/
.cards {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.cards h1 {
  color: var(--secondaryColor);
  display: block;
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

.card {
  width: 250;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  border: 2px solid;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: .8;
  position: relative;
  background-color: var(--mainColor);
}

.card-body {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -100%;
  background: rgba(105, 90, 205, 0.192);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.7s;
}
.card:hover .card-body {
  top: 0;
}
.card:hover .team-name {
  display: none;
}
.card .team-name {
  opacity: 1;
  position: absolute;
  bottom: 0px;
  color: var(--secondaryColor);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding: 5px;
  margin: 0;
  font-size: 26px;
  width: 100%;
}
.card-body .card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.card-body .card-sub-title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: underline  ;
  

}
.card-info {
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0;
  font-weight: bold;
}

.card-btn {
  padding: 10px;
  width: 100px;
  border: none;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

form {
  width: 80%;
  height: 610px;
  margin: auto;
  position: relative;
}

form fieldset {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 60px;
  width: 100%;
  text-align: center;
  border-color: var(--secondaryColor);
  padding-bottom: 100px;
  position: relative;
}
.input-data {
  height: 50px;
  position: relative;
  margin: 20px;
}

legend {
  color: var(--secondaryColor);
  padding: 50px;
}

.inputs {
  border: none;
  border-bottom: 2px solid var(--mainColor);
  height: 30px;
  width: 60%;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
}
.inputs::placeholder {
  font-size: 1rem;
  color: var(--secondaryColor);
}

.input-data select {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 20px;
  color: var(--secondaryColor);
  background-color: var(--mainColor);
}

.btn-submit {
  width: 70%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%px;
  transform: translate(25%, 0%);
}

.submit {
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  border: 2px solid var(--secondaryColor);
  width: 150px;
  background: transparent;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .content .header {
    font-size: 2rem;
  }
  .content p {
    font-size: 1rem;
  }
  form {
    width: 90%;
  }
  form fieldset {
    display: block;
  }
  .inputs {
    width: 60%;
  }
  .input-data select {
    position: absolute;
    right: 85px;
    bottom: 40px;
    width: 20px;
  }
}






