@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --mainColor: slateblue;
  --secondaryColor: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: black;
}

.main {
  height: 100vh;
  background-image: linear-gradient(rgba(1, 1, 2, 0.3), rgba(0, 0, 0.9)),
    url(./image/cover.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 25px;
}
nav ul li {
  list-style-type: none;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: var(--secondaryColor);
  font-size: 1rem;
  position: relative;
  font-weight: bold;
}
nav ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--secondaryColor);
  height: 3px;
  width: 0;
  bottom: -10px;
  transition: 0.5s;
  left: 0;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: var(--mainColor);
}
.home {
  color: var(--mainColor);
}
.logo {
  width: 150px;
  height: 100px;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.content {
  width: 70%;
  margin: 40px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content .header span {
  color: var(--mainColor);
  font-family: Pacifico;
  font-size: 5rem;
  font-weight: lighter;
}

.content .header {
  margin-bottom: 20px;
  color: var(--secondaryColor);
  font-size: 4rem;
  font-family: Pacifico;
  font-weight: lighter;
}
.content p {
  color: var(--secondaryColor);
  width: 80%;
  margin: 40px auto;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.subscribe {
  width: 70%;
  margin: 10px auto 10px auto;
  position: relative;
  cursor: pointer;
}
.input {
  height: 50px;
  border-radius: 20px;
  width: 100%;
  font-size: 1.4rem;
  padding-left: 15px;
  border: 2px solid var(--mainColor);
}
.input[type="Email"]:focus {
  border: 2px solid #f0094d;
}
.input::placeholder {
  font-size: 1.3rem;
}
.subscribe button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  position: absolute;
  right: 7px;
  top: 6px;
  border: none;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s ;
}
.subscribe button:hover {
  color: var(--secondaryColor);
  transform: scale(0.9);
}

/* TEAM SECTION*/
.cards {
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.cards h1 {
  color: var(--secondaryColor);
  display: block;
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

.card {
  width: 550;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  border: 2px solid;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  position: relative;
  background-color: var(--mainColor);
}

.card-body {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -120%;
  background: rgba(105, 90, 205, 0.192);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.7s;
}
.card:hover .card-body {
  top: 0;
}
.card:hover .team-name {
  display: none;
}
.card .team-name {
  opacity: 1;
  position: absolute;
  bottom: 0px;
  color: var(--secondaryColor);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding: 5px;
  margin: 0;
  font-size: 26px;
  width: 100%;
}
.card-body .card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.fa-brands {
  color: yellow;
  font-size: 30px;
}
.card-body .card-sub-title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
.card-info {
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0;
  font-weight: bold;
}

.card-btn {
  padding: 10px;
  width: 100px;
  border: none;
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

form {
  width: 80%;
  height: 610px;
  margin: auto;
  position: relative;
}

form fieldset {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 60px;
  width: 100%;
  text-align: center;
  border: none;
  padding-bottom: 100px;
  position: relative;
}
.input-data {
  height: 50px;
  position: relative;
  margin: 20px;
}

legend {
  color: var(--secondaryColor);
  padding: 50px;
}

.inputs {
  border: none;
  border-bottom: 2px solid var(--mainColor);
  height: 30px;
  width: 60%;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
}
.inputs::placeholder {
  font-size: 1rem;
  color: var(--secondaryColor);
}

.input-data select {
  position: absolute;
  right: px;
  bottom: 40px;
  width: 20px;
  color: var(--secondaryColor);
  background-color: var(--mainColor);
}

.btn-submit {
  width: 70%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 50;
  transform: translate(25%, 0%);
  cursor: pointer;
}

.submit {
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  border: 2px solid var(--secondaryColor);
  width: 150px;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content .header {
    font-size: 2rem;
  }
  .content p {
    font-size: 1rem;
  }
  form {
    width: 90%;
  }
  form fieldset {
    display: block;
  }
  .inputs {
    width: 60%;
  }
  .input-data select {
    position: absolute;
    right: 110px;
    bottom: 40px;
    width: 20px;
  }
  .footer-distributed {
    margin-top: 50px;
  }
}

.footer-distributed {
  background: #111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: var(--secondaryColor);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: transparent;
  color: var(--secondaryColor);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  cursor: pointer;
}
.footer-distributed .footer-center i:hover {
  color: var(--mainColor);
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--secondaryColor);
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
  color: var(--secondaryColor);
  background-color: transparent;
}
.footer-distributed .footer-icons a:hover {
  color: var(--mainColor);
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
